@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');     

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgba(195, 195, 195, 0.274);
}
.header{
    background: radial-gradient(white,rgb(117, 209, 117));
}
.nav-bars{
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
 
}
.logo{
    padding: 10px;
}
.menu-bar{
    flex:1;
    text-align: right;
}
.menu-bar ul{
    display: inline-block;
    list-style-type: none;
}
.menu-bar ul li{
    display: inline-block;
    margin: 15px;
    position: relative;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 9px;
    transition: all 0.3s;
}
.menu-bar .drop-down{
    display: none;
}
.menu-bar ul li:hover .drop-down{
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
     
}
.menu-bar ul li:hover .drop-down ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:#FFC0C7;
    border-radius:0 0 7px 7px;

}
.menu-bar ul li:hover .drop-down ul li{
    width: 50px;
    margin-bottom: 2px;
    font-size: 13px;
}
.header ul li:hover .drop-down ul li a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5px;
    width: 100px;
    margin-right:70px;
    margin-left: -2px;
    background-color:#DFFFD8;
    color: black;
}
.header ul li:hover .last a{
    margin-bottom: 14px;
}
.menu-bar .home{
    background-color: #73778d;
    
}
.menu-bar .product{
    background-color: #FFC0C7;
}
.menu-bar .account{
    background-color: #FFF4A3;
}
.menu-bar .contact{
    background-color:#D9EEE1;
    
}
#cart{
    font-size: 25px;

}
#cart i{
    margin-bottom: -50px;
}
.menu-bar ul li a ,.home:hover{
    background-color:#616161;
}
.menu-bar ul li a ,.product:hover{
    background-color:#f596a1;
}
.menu-bar ul li a ,.account:hover{
    background-color:#f6e776;
}
.menu-bar ul li a ,.contact:hover{
    background-color:#b2e6c6;
}

.container{
    width: 100%;
    margin: auto;    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0 0 0;
    height: 700px;
    width: 800px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.col-2 p{
    margin: 25px;
}
.btn{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #04AA6D;
    color: black;
    padding: 8px 30px;
    margin: 30px;
    border-radius: 20px;
    transition: background 0.5s;
}
.btn:hover{
    background-color: rgb(40, 196, 40);
}
.about{
    text-align: center; 
    margin-top: 70px; 
    margin-bottom: 10px;
    position:relative;
    line-height: 60px;
    color: chocolate;
}
.about::after{
    content: '';
    background: #282A35;
    width: 80px;
    height: 6px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.aboutus{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 30px;
}
.para{
    max-width: 500px;
    height: 100px;
}
.category{
    margin:70px 0;
}
.mens{
    text-align: center; 
    margin-top: 200px; 
    margin-bottom:100px;
    position: relative;
    line-height: 60px;
    color: chocolate;
}
.mens::after{
    content: '';
    width: 120px;
    height: 6px;
    background: #282A35;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
    left: 50%;
}
.women{
    text-align: center; 
    margin-top: 200px; 
    margin-bottom:100px;
    position: relative;
    line-height: 60px;
    color: chocolate;
}
.women::after{
    content: '';
    width: 140px;
    height: 6px;
    background: #282A35;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
    left: 50%;
}
.foot{
    text-align: center; 
    margin-top: 200px; 
    margin-bottom:100px;
    position: relative;
    line-height: 60px;
    color: chocolate;
}
.foot::after{
    content: '';
    width: 100px;
    height: 6px;
    background: #282A35;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
    left: 50%;
}
.accessories{
    text-align: center; 
    margin-top: 200px; 
    margin-bottom:100px;
    position: relative;
    line-height: 60px;
    color: chocolate;
}
.accessories::after{
    content: '';
    width: 100px;
    height: 6px;
    background: #282A35;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
    left: 50%;
}
.box-1{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 15px rgb(0,0,0.1);
    transition: transform 0.5s;
}
.box-1:hover{
    transform: translateY(7px);
}
.box-1 i{
    color: #32715a;
}
.col-1{
    min-width: 100px;
    padding: 10px;
    
}
.col-1 img{
    height: 250px;
    width: 270px;
    border-radius: 10px;
    
}
.offer{
    background:radial-gradient(white,rgb(117, 209, 117));
    margin: 5px;
    padding: 30px 0;
}
.deal{
    text-align: center;
    color:#3C6255;
    position: relative;
    line-height: 60px;
}
.deal::after{
    content: '';
    width: 140px;
    height: 4px;
    background: #282A35;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
    left: 50%;
    margin-bottom: 1px;
}
.col-3 img{
    height: 300px;
    padding-left: 200px;
}
.col-4 p{
    font-size: 15px;
    float: right;
    margin-top: -260px;
    padding-right: 660px;
    font-weight: 500;
}
.col-4 h1{
    float: right;
    margin-top: -230px;
    padding-right: 245px;
    font-size: 40px;
}
.col-4 small{
    font-size: 12px;
    float: right;
    margin-top: -170px;
    padding-right: 183px;
}
#btn1{
    float: right;
    margin-top: -100px;
    margin-right:700px;
}
.box-1 button{
    padding: 6px 8px;
    background-color: #04AA6D;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.row-2{
    background-color: rgba(195, 195, 195, 0.274);
    padding: 7px;
}
.review{
    margin: 40px;
    padding: 20px;
    box-shadow: 0 0 15px 0px rgb(0,0,0.1);
}
.review-col-1 h3{
    text-align: center;
    margin: 15px;
}
.review-col-1 h1{
    text-align: center;
    background-color: #282A35;
    color: beige;
    width: 230px;
    padding:4px 2px 4px 2px;
    margin-bottom: 20px;
    margin-left: 42%;
}
.review-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.review-box{
    width: 500px;
    box-shadow: 2px 2px 15px rgb(0,0,0.1);
    background-color: #ffffff;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.username{
    display: flex;
    flex-direction: column;
}
.username strong{
    color: #3d3d3d;
    font-size: 1.1rem;
}
.username span{
    color: #979797;
    font-size: 0.8rem;
}
.review-1{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comment p{
    font-size: 0.8rem;
    color: #4b4b4b;
}
.review-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.row-1{
    background:rgba(246, 246, 191, 0.818);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.footer-col-1{
    max-width:30%;
    text-align: center;
}
.footer-col-1 h3{
    font-size: 30px;
    padding-bottom: 10px;
}
.footer-col-1 p{
    font-size: 15px;
    padding-bottom: 20px;
}
.app{
    margin-bottom: 13px;
    width: 150px;
    height:50px ;
    border-radius: 5px;
}
.footer-col-2{
    text-align: center;
    max-width: 30%;
}
.footer-col-2 img{
    width: 70px;
    border-radius: 50%;
    padding-bottom: 10px;
}
.footer-col-3 img{
    width:18px;
    border-radius: 50%;
}
.footer-col-3 ul{
    font-size:20px;
    font-weight: bold;
    padding-bottom: 5px;
}
.footer-col-3 li{
    padding-top: 5px;
    list-style-type: none;
}
.footer-col-3 a{
    text-decoration: none;
    color: black;
}
.copy{
    background:rgba(246, 246, 191, 0.818);
    margin-top: 0px;
    padding-top: 0px;
}
.footer hr{
    border: none    
}
.footer p{
    text-align: center;
    padding: 10px;
}
